

.containerx1 {
  position: relative;
  margin-top: -3%;
  margin-left: 50%;

}

.containerx0 {
  position fixed;
  margin-top: 10%;
  margin-left: -20%;

  }

.boxed {
  border-style: solid;
  border-width: thin;
  border-color: grey;
  width: 400px;
  height: 550px;
  box-shadow: 5px 10px 20px -6px black;

  position: relative;
  margin-top: 1%;
  margin-left: 40%;
  }

.roundbutton1{
border-radius: 50%;
box-shadow: 5px 10px 20px -6px black;
width: 30px;

position: static;
margin-top: -2%;
margin-left: 25%
  }

.roundbutton2{
  border-radius: 50%;
  box-shadow: 5px 10px 20px -6px black;
  width: 30px;

  position: static;
  margin-top: -10%;
  margin-left: 90%
    }

.box {
  border-radius: 20%;
}

.textballoon1 {
  position: relative;
  margin-left: 0%;
  margin-top: 7%;
}

.inputballoon1 {
  visibility: hidden;
  position: static;
  margin-left: 30%;
  margin-top: -3%;
}

.inputballoon2 {
  visibility: hidden;
  position: static;
  margin-left: 30%;
  margin-top: -3%;
}

.showchat {
  position :relative;
  margin-top: 10%;
  margin-left: 10%;
  border-bottom: visible;
  border-bottom-color: black;
  border-bottom-width: thin;
}

.incbox {
  position: absolute;
}

.sizedright {
  width: 398px;
  height: 400px;
  overflow-y: scroll;
}
